.container {
    display: flex;
    position: relative;
    justify-content: center;
    height: 400px;
    margin-bottom: 60px;
    .w-100 {
        width: 100% !important;
      
    }

    .button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #d8f2f5;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #04d9d9;
    }

    .left,
    .right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .left.disabled,
    .right.disabled {
        background-color: #ccc;
    }

    .left {
        left: 10px;

        .icon {
            width: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 15px;
        }
    }

    .right {
        right: 10px;
        .icon {
            width: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
        }
    }
    .cards {
        width: calc(100%);
        overflow: hidden;
        .overflow {
            position: relative;
            transition: left 0.3s ease-in-out;
            .card {
                height: 300px;
                display: inline-block;
                position: relative;
                .content-card{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    .background-cards {
        position: absolute;
        bottom: -10px;
        width: 1000px;
        height: 80%;
        background-color: #f9efe4;
        border-radius: 30px;
    }

    .points {
        position: absolute;
        bottom: 30px;
        z-index: 1;
        display: flex;
        align-items: center;
    }
}




@media only screen and (max-width: 800px) {

    .container {
        display: flex;
        position: relative;
        justify-content: center;
        height: 400px;
        .w-100 {
            width: 100% !important;
          
        }
        .button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #d8f2f5;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #04d9d9;
        }
    
        .left,
        .right {
            position: absolute;
           top: initial;
           bottom: 0;
            transform: translateY(-50%);
            z-index: 1;
        }
    
        .left.disabled,
        .right.disabled {
            background-color: #ccc;
        }
    
        .left {
            left: 10px;
            bottom: 0;
            .icon {
                width: 10px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 15px;
            }
        }
    
        .right {
            bottom: 0;
            right: 10px;
            .icon {
                width: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
            }
        }
        .cards {
            width: calc(100%);
            overflow: hidden;
            .overflow {
                position: relative;
                transition: left 0.3s ease-in-out;
                .card {
                    height: 300px;
                    display: inline-block;
                    position: relative;
                    .content-card{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
    
}