.content-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 100px;
    .content-testimonials {
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin-top: 50px;
        h2 {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 50px;
        }
    }
    .border{
        width: 100%;
        border-bottom: 1px solid #000;
    }
}
@media only screen and (max-width: 1200px){
    .content-page{
        width: 100%;
        .content-testimonials{
            width: 100vw;
            h2 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 50px;
        }
        }
        
    }
}
